.cart-page {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.remove-btn:hover {
  background-color: darkred;
}

.cart-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 35px;
  width: 75%;
}

.cart-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.cart-btn:hover {
  background-color: #218838;
}

.remove-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.remove-btn:hover {
  background-color: darkred;
}